
.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: blue;
}

a {
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
}

p {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 3rem;
}

.profilecontainer {
  background-color: #9fc9bc;
  max-width: 100%;
  margin: 1rem auto 0rem auto;
  padding: 2rem;
  border-width: 1px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.linkcontainer {
  max-width: 100%;
  background-color: lightgrey;
  margin: 0px auto;
  padding: 2rem;
}

.profilephoto {
  width: auto;
  margin: 3rem;
}

.intro {
  margin: 3rem;
  min-height: 3rem;
  display: block;
  overflow-wrap: break-word;
  text-align: center;
}
