.container {
    max-width: 60rem;
    min-width: auto;
    border-radius: 0.5rem;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem;
}

img {
    display: block;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
}

section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 45rem;
}

.back {
    display: block;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    height: auto;
    background-color: red;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    font-style: bold;
}

.back:hover {
    display: block;
    border-radius: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 4rem;
    height: auto;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    font-style: bold;
}

