
.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: blue;
}

a {
  display: block;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgb(0, 0, 0);
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 1rem;
}

p {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-size: 3rem;
}

.profilecontainer {
  background-color: #9fc9bc;
  max-width: 40rem;
  margin: 1rem auto 0rem auto;
  padding: 2rem;
  border-width: 1px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.linkcontainer {
  max-width: 40rem;
  margin: 0px auto;
  padding: 2rem;
  background-color: #d8e8f1;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23cbded7' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");  border-width: 1px;
}

.profilephoto {
  width: auto;
  margin: 3rem;
}

.intro {
  margin: 3rem;
  min-height: 3rem;
  display: block;
  overflow-wrap: break-word;
  text-align: center;
}
