/* global styles */

:root {
  --main-corner-radius: 2rem;
  --bg1: hsla(0, 0%, 100%, 0.385);
  --accent1: rgba(146, 102, 221, 0.62);
  --accent2: rgb(195, 64, 175);
  --hover: rgb(179, 201, 226);
}

/* custom classes */

.container {
  max-width: 50rem;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.484);
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  border-radius: var(--main-corner-radius);
}

.profilecontainer {
  background-color: var(--bg1);
  width: auto;
  padding: 2rem;
  border-width: 1px;
  border-top-left-radius: var(--main-corner-radius);
  border-top-right-radius: var(--main-corner-radius);
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.linkcontainer {
  width: auto;
  height: auto;
  margin: 0px auto;

}

.intro {
  margin: 3rem;
  min-height: 3rem;
  display: block;
  overflow-wrap: break-word;
  text-align: center;
}

.profilephoto {
  width: auto;
  margin: 3rem;
}

/* Standard classes */

a {
  display: block;
  background-color: rgba(255, 255, 255, 0.685);
  color: black;
  padding: 2rem;
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;

}

a:hover {
  background-color: var(--hover);
}

p {
  font-family: sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: sans-serif;
  font-size: 1.5rem;
}

footer {

  background-color: var(--bg1);
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  height: 4rem;
  border-bottom-right-radius: var(--main-corner-radius);
  border-bottom-left-radius: var(--main-corner-radius);

}

body {

  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(174, 28%, 81%, 1)'/><path d='M27.26 5.415c-.55 0-.9.55-.65 1l2.45 4.75c.2.5.85.5 1.15.1l3.15-4.5c.3-.4 0-1.05-.55-1.1zM10.689 8.068c-.406-.051-.822.31-.778.748l.5 5.3c.05.5.6.8 1.05.5l4.55-3.05c.45-.3.4-.95-.05-1.15l-5.1-2.3a.605.605 0 0 0-.172-.048zM2.406 24.584a.635.635 0 0 0-.345.081l-4.75 2.4c-.45.2-.5.85-.1 1.15l4.45 3.15c.4.3 1 0 1.1-.5l.3-5.55c0-.412-.31-.712-.655-.73zm40 0a.635.635 0 0 0-.345.081l-4.75 2.4c-.45.2-.5.85-.1 1.15l4.45 3.15c.4.3 1 0 1.1-.5l.3-5.55c0-.412-.31-.712-.655-.73zm-22.17 3.108a.744.744 0 0 0-.675.723l.4 5.55c.05.5.6.8 1.05.5l4.45-2.95c.45-.25.4-.9-.05-1.15l-4.8-2.6a.702.702 0 0 0-.376-.073z'  stroke-width='1' stroke='none' fill='hsla(88, 54%, 87%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

}


