.container {
    max-width: 60rem;
    min-width: 25rem;
    border-radius: 0.2rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

.gridcontainer {
    display: grid;
    gap: 0.6rem;
    grid-template-rows: repeat(auto, 1fr);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.2rem;
}

.intro {
    border-radius: 0.2rem;
    padding: 2rem;
}

.skills {
    border-radius: 0.2rem;
    padding: 2rem;
}

.foss {
    border-radius: 0.2rem;
    padding: 2rem;
}

.links {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 0.2rem;
    min-width: 8rem;
    text-align: center;
}

.split {
    display: grid;
    gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 0.1rem;
    overflow-wrap: break-word;
}

.subcontainer1 {
    padding: 2rem;
    border-radius: 0.1rem;
    vertical-align: middle;
    column-count: 2;
    background-color: rgba(248, 248, 248, 0.432);
}

.subcontainer2 {
    padding: 2rem;
    border-radius: 0.1rem;
    column-count: 1;
    background-color: rgba(248, 248, 248, 0.432);
}

.subcontainer:hover {
    background-color: rgb(220, 231, 243);
}

section {
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 0.4rem;
    margin: 2rem;
    padding: 2rem;
}

body {
    background-color: rgb(84, 90, 109);
    height: 100rem;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 2em;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.3em;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

a {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: normal;
    font-size: 1.2em;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    min-width: 8rem;
}

a:hover {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: normal;
    font-size: 1.2em;
    text-align: center;
    text-overflow: clip;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 0.2rem;
}

img {
    max-width: 100%;
    max-height: 5rem;
    margin-left: auto;
    margin-right: auto;
}