.container {
    max-width: 60rem;
    min-width: 25rem;
    border-radius: 0.2rem;
    margin: 0 auto;
    padding: 0.6rem;
    background-color: rgba(255, 255, 255, 0);
}

.gridcontainer {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(auto, 1fr);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0.2rem;
}

.intro {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 0.2rem;
    padding: 2rem;
}

.foss {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 0.2rem;
    padding: 2rem;
}

.links {
    display: grid;
    gap: 2fr;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 0.2rem;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    min-width: 10rem;
    text-align: center;
}

.split {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 0.1rem;
    overflow-wrap: break-word;
}

.subcontainer {
    padding: 2rem;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 0.2rem;
}

.subcontainer:hover {
    background-color: rgb(220, 231, 243);
}

section {
    background-color: rgba(255, 255, 255, 0.938);
    border-radius: 0.4rem;
    margin: 2rem;
    padding: 2rem;
}

body {
    background-image: linear-gradient(to bottom right, rgb(53, 66, 105), rgb(79, 54, 99));
    height: 100rem;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 2em;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 1.3em;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
}

a {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: normal;
    font-size: 1.2em;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    min-width: 8rem;
}

a:hover {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: normal;
    font-size: 1.2em;
    text-align: center;
    text-overflow: clip;
    text-decoration: none;
    background-color: rgb(200, 204, 228);
    border-radius: 0.2rem;
}

img {
    max-width: 100%;
    max-height: 5rem;
    margin-left: auto;
    margin-right: auto;
}